<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Database Connectivity-->
    <add key="LitigationConnectionString" value="Data Source=69.16.229.92;MultipleActiveResultSets=True;Initial Catalog=litigation_database;Persist Security Info=True;user id=cassandra;pwd=cassandra;Enlist=false" />
    <!--<add key="LitigationConnectionString" value="Data Source=69.16.229.92;MultipleActiveResultSets=True;Initial Catalog=litigation_database_uat;Persist Security Info=True;user id=lit_app;pwd=ojcJHVKp7E;Enlist=false" />-->

    <!--<add key="LitigationConnectionString" value="Data Source=172.16.16.18;MultipleActiveResultSets=True;Initial Catalog=litigation_database_dev;Persist Security Info=True;user id=cassandra;pwd=cassandra;Enlist=false" />-->
    <!--End Database Connectivity-->

    <!--PTAB URL-->
    <add key="PTabURL" value="https://ptab.uspto.gov/#/login" />
    <!--End PTAB URL-->

    <!--PTAB CREDENTIALS-->
    <!--<add key="UserName" value="networksupport@maxval-ip.com"/>
    <add key="Password" value="PTABuspto@014"/>-->

    <add key="UserName" value="sruthi.sm@maxval-ip.com" />
    <add key="Password" value="Maxval@1234567" />
    <!--End PTAB CREDENTIALS-->

   
    <!--Temporary Download Folder-->
    <add key="TempDownloadFolder" value="D:\PTAB FILES\PTABDownloads\" />

    <!--Attachement Download Folder-->
    <add key="AttachDownloadFolder" value="D:\PTAB FILES\PTABAttachments\" />
 
    <!--Search Conditions-->
    <add key="Contains" value="PETITION|INSTITUTING|INSTITUTED|INSTITUTION|INSTITUTE|TERMINATION|TERMINATE|PAPER|EXHIBIT|EXHIBITS|PETITIONER|REDACTED|ORDER|DECISION|SUBMISION|POWER|OWNER|PATENT|SUBMISSION|MOTION|NOTICE|DEPOSITION|EX|CONFERENCEPAPAGEORGIOU|REPLY|TRIAL|PROCEEDING|PO|RESPONSE|DECLARATION|PETITIONERS|TESTIMONY|EXCERPTS|GRANTING|HEARING|FINAL|DECISION" />

    <add key="Startswith" value="PETITION|INSTITUTION DECISION|TRIAL INSTITUTED DOCUMENT|ADVERSE JUDGMENT|TERMINATION DECISION DOCUMENT|FINAL WRITTEN DECISION|JUDGMENT|FINAL DECISION|EXHIBITS|EXHIBIT|PAPER|ORDER|PETITIONER|REDACTED|ORDER|DECISION|SUBMISION|POWER|OWNER|PATENT|SUBMISSION|MOTION|NOTICE|DEPOSITION|EX|CONFERENCEPAPAGEORGIOU|REPLY|TRIAL|PROCEEDING|GRANTING|PO|DECLARATION|PETITIONERS|TESTIMONY|EXCERPTS|GRANTING|HEARING|FINAL|DECISION" />
    <!--End Search Conditions-->

    <!--Email Process-->
    <!--Mail Configuration-->
    <add key="SMTPHost" value="mail.maxval-alert.com" />
    <add key="SMTPPort" value="25" />
    <add key="AuthenticationUserName" value="litigationalert@maxval-alert.com" />
    <add key="AuthenticationUserPassword" value="liti2012" />
    <add key="SenderMailID" value="litigationalert@maxval-alert.com" />
    <add key="SenderDisplayName" value="noreply" />
    <add key="ReceiverName" value="BalaSubramani,litigationinternal,Vivaj,Venkatachalam,PraveenKumar,Karthikaa,Kalaivani,Venkatraman" />
    <add key="AdminReceiver" value="balasubramani.bk@maxval-ip.com,litigation_internal@maxval-alert.com,vivaj@maxval.com,venkat.a@maxval-ip.com,Praveenkumar.j@maxval-ip.com,karthikaa.ks@maxval-ip.com" />
    <add key="ReceiverNameCC" value="Litigation Group" />
    <add key="ReceiverCC" value="litigationdev@maxval-alert.com" />
    <add key="IsBodyHtml" value="true" />
    <add key="IsMailRequired" value="0" />
    <add key="GetCaseDetailsProc" value="usp_Get_PTAB_CaseNumbers_for_Download_Test1"/>
    <!--<add key="GetCaseDetailsProc" value="usp_Get_PTAB_CaseNumbers_for_Download_Test"/>-->
    <!--End Email Process-->

    <add key="DocDownloadWaitTime" value="60000" />

    <!--ApplicationType - 1: Daily;ApplicationType - 2: Monthly-->
    <add key="ApplicationType" value="1" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
